{
  "extends": "airbnb",
  "ecmaFeatures": {
    globalReturn: true
  },
  "rules": {
    "strict": 0,
    "max-len": 0,
    "prefer-template": 0
  },
  "globals": {
    "$",
    "jQuery",
    "TweenLite",
    "TimelineLite",
    "Bounce",
    "Linear",
    "Elastic"
  }
}
