body {
  /** Enable this to see visual grid columns **/
  /*lost-utility: edit;*/
  width: 100%;
  max-width: none;
  margin-top: $headerHeight--small;
  color: $black;
  font-family: $fontSerif;
  @media (min-width: $headerHeight--breakpoint) { margin-top: $headerHeight--large; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  font-family: $fontSans;
  text-rendering: optimizeLegibility;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  letter-spacing: 0.25px;
}

h2 {
  font-size: 1.75em;
  line-height: 1.25;
  letter-spacing: 0.25px;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  letter-spacing: 0.25px;
}

h4 {
  font-size: 1.375em;
  line-height: 1.25;
}

h5 {
  font-size: 1.25em;
  line-height: 1.5;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
}

a {
  color: $teal;
  text-decoration: none;
}

a:hover {
  color: $teal;
}


p,
ul,
ol,
blockquote {
  margin: 1.1875rem 0;
  font-size: 1.375em;
  line-height: 1.65;

  em,
  strong {
    line-height: 1;
  }

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

blockquote {
  padding: 1rem;
  border-left: 2px solid $gray;
  background: #fcfcfc;
  color: $gray;
  font-style: italic;
}

hr {
  margin: 0.625rem auto;
  border: 0;
  border-top: 1px solid #bbb;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

:focus {
  outline-color: $teal;
}
