$maxWidth: 75rem;
$pageGutter: 1.25rem;

$fontSans: 'Open Sans', Helvetica, sans-serif;
$fontSerif: 'Lora', Georgia, serif;

$black: #1d1d1c;
$gray: #4d4d4c;
$white: #fff;
$whiteDark: #fcfcfc;

$teal: #77afa3;
$green: #88ab3e;
$olive: #afbb4b;
$yellow: #c9a03f;
$orange: #bb6534;
$magenta: #b93758;
