$maxWidth: 75rem;
$pageGutter: 1.25rem;
$columnGutter: 2.666666667%;

$visibleClass: '.STATE--visible';

$fontSans: 'Montserrat', Helvetica, sans-serif;
$fontSerif: 'Crimson Text', Georgia, serif;

$black: #1d1d1c;
$gray: #4d4d4c;
$white: #fff;
$whiteDark: #fcfcfc;

$teal: #7ab7b0;
$green: #8fb43e;
$olive: #b7c247;
$yellow: #d4a73b;
$orange: #c96a2e;
$magenta: #cb3a61;
