.header {
  padding: 0.75rem 0;
  font-family: $fontSans;

  .constraint {
    position: relative;
    lost-center: $maxWidth;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    /*lost-center: $maxWidth $pageGutter;*/
  }

  .logo {
    height: 100%;
  }

  .logo img {
    display: block;
    width: auto;
    height: 100%;
  }
}

.header__navItems {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  text-align: right;
}

.mobileNavToggle {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  color: $black;
  font-size: 1.5rem;

  &:focus {
    box-shadow: none;
  }

  &:hover,
  &:active {
    color: $black;
  }

  .js & {
    visibility: hidden;
  }

  .js &#{$visibleClass} {
    visibility: visible;
  }
}

@media (min-width: 400px) {
  .header__navItems {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .header__navItems {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 1rem 0;
  }

  .header .constraint {
    height: 3.5rem;
  }
}
