$logoHeight--small: $headerHeight--small - 1.5rem;
$logoHeight--large: $headerHeight--large - 1.5rem;

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  background: $white;
  font-family: $fontSans;

  .constraint {
    position: relative;
    lost-center: $maxWidth;
    justify-content: space-between;
    height: $headerHeight--small;
  }

  .logo {
    align-self: center;
    height: $logoHeight--small;
  }

  .logo img {
    display: block;
    width: auto;
    height: 100%;
  }

  &.THEME--FLOATING {
    position: fixed;
    box-shadow: 0 0 0.25rem rgba($black, 0.2);
    background: rgba($white, 0.97);
  }
}

.header__navItems {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  text-align: right;
}

.mobileNavToggle {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  color: $black;
  font-size: 1.5rem;

  &:focus {
    box-shadow: none;
  }

  &:hover,
  &:active {
    color: $black;
  }

  .js & {
    visibility: hidden;
  }

  .js &#{$visibleClass} {
    visibility: visible;
  }
}

@media (min-width: 400px) {
  .header__navItems {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .header__navItems {
    width: 60%;
  }
}

@media (min-width: $headerHeight--breakpoint) {
  .header {
    .logo { height: $logoHeight--large }
    .constraint { height: $headerHeight--large; }
  }
}
