.hero {
  position: relative;
  padding: 35% 0 2rem;
  background: url('../images/defaults/river-city-panoramic.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  @include heroGradient($teal);
}

.hero:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.hero .title {
  margin: 0;
  font-size: 1.125rem;
  @include fontSmoothing(on);
}

.hero__content {
  position: relative;
}

.hero__meta {
  margin: 0.5rem 0 0;
  font-family: $fontSerif;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: italic;
}

@media (min-width: 600px) {
  .hero .title {
    font-size: 1.5rem;
  }

  .hero__meta {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .hero .title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero__meta {
    font-size: 1.25rem;
  }
}

@media (min-width: 900px) {
  .hero {
    padding-top: 20rem;
  }
}

@media (min-width: 1000px) {
  .hero .title {
    font-size: 3rem;
    line-height: 1.1;
  }
}
