.landing {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.landing .sqs-block-button-element {
  // border: 1px solid #fff;
  // box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s ease-in-out;
  &:hover { box-shadow: 0 0.25em 0.875em rgba(0, 0, 0, 0.2); }
}

.landing--noImage + .landing--noImage {
  padding-top: 0;
}

.landing--hasImage {
  padding-top: 30rem; // TODO change for small viewports
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.landing--hasImage:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.landing--hasImage,
.landing--hasImage:nth-child(3n+1) {
  @include heroGradient($teal);
}

.landing--hasImage:nth-child(3n+2) {
  @include heroGradient($olive);
}

.landing--hasImage:nth-child(3n+3) {
  @include heroGradient($orange);
}
